<section class="login-page flex-row">
    <div>
        <form class='login-form'>
            <div>
                <label for='username-login'></label>
                <input type='text' placeholder='Username' id='username-login' />
            </div>
            <div>
                <label for='password-login'></label>
                <input type='password' placeholder='Password' id='password-login' />
            </div>
            <div>
                <button type='submit' class='btn btn-outline-info bg-blue'>login</button>
                <a type="button" class="signup-form-link" href="/signup">Signup Form</a>
            </div>
        </form>
    </div>
</section>

<script src="./javascript/login.js"></script>