<section class="signup-page flex-row">
    <div>
        <form class='signup-form'>
            <div>
                <label for='username-signup'></label>
                <input type='text' placeholder='Username' id='username-signup' />
            </div>
            <div>
                <label for='email-signup'></label>
                <input type='text' placeholder='Email' id='email-signup' />
            </div>
            <div>
                <label for='create-password'></label>
                <input type='text' placeholder='Password' id='password-signup' />
            </div>
            <div>
                <button type='submit' class='btn btn-outline-info bg-blue'>signup</button>
                <a class="login-link" href="/login">Login</a>
            </div>
        </form>
    </div>
</section>

<script src="./javascript/signup.js"></script>